<!-- /* ******************************************************** 
* Bottom Nav 
* File name: bottom_nav.ejs
* Author: Explorers Team (Group 1)
* Date: Dec 11, 2022
* ******************************************************** */-->
<!-- Bottom Nav -->
<br><br><br><br>
<footer>
<nav class="navbar fixed-bottom navbar-light">
    <h6 class="navbar-text mx-auto">&copy; 2022 %> Explorers Survey. All rights reserved.</h6>
</nav>
</footer>