<!-- /* ******************************************************** 
* File name: error.ejs
* Author: Explorers Team (Group 1)
* Course: Web Application Development 
* Section: COMP229 - 009
* Date: Dec 11, 2022
* ******************************************************** */-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
