<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container">
    <h2 class="display-8 d-flex justify-content-center">Details of Survey</h2>

</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>