/* ******************************************************** 
* File name: app.css
* Author: Explorers Team (Group 1)
* Course: Web Application Development 
* Section: COMP229 - 009
* Date: Dec 11, 2022
* ******************************************************** */

/*CSS for All Pages*/

.dropdown-menu {
  font-size: 15px;
}

h1 {
  margin-bottom: 30px;
}

#patrialArea {
  margin-left:15%;
  margin-right:15%;
  margin-top: 2%;
  margin-bottom: 30px;
  padding:10px;
  border-radius:50px ;
  background-color: rgba(254, 252, 239, 0.7);
  box-shadow:10px 10px 15px #00000080;
  padding-bottom: 30px;
  text-align: left;
}

body {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../assets/images/background.jpg);
}

main {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
label{
  margin-bottom:10px;
}
#patrialAuth {
  margin-left:25%;
  margin-right:25%;
  margin-top: 2%;
  margin-bottom: 30px;
  padding:10px;
  border-radius:50px ;
  background-color: rgba(254, 252, 239, 0.7);
  box-shadow:10px 10px 15px #00000080;
  padding-bottom: 30px;
  text-align: left;
}

#patrialReport {
  margin-left:15%;
  margin-right:15%;
  margin-top: 2%;
  margin-bottom: 30px;
  padding:10px;
  border-radius:50px ;
  background-color: rgba(254, 252, 239, 0.9);
  box-shadow:10px 10px 15px #00000080;
  padding-bottom: 30px;
  text-align: left;
}

a.btn-light {
  background-color: #39757b;
  color: white;
}
a.btn-success, button.btn.btn-success {
  background-color: #39757b;
}

#deleteBtn {
  background-color: #8b9aa5;
}

/*login Page and register Page*/

fieldset.form-group {
  font-weight: bold;
  margin-bottom: 10px;
}

a {
  color: #4a2a7a;
}


/*report Page*/

a.btn.btn-success {
  margin-bottom: 20px;
}

#titleTFResults, #titleMCQResults {
  margin-top: 50px;
  margin-bottom: 20px;
}


/*survey-detail Page*/

#surveyBorder {
  margin : 25px 0px;
}


/*add-mcq Page and add-tfq Page*/

#questionTextField {
  margin-bottom : 30px;
}


.navbar-text{
  width:100%;

padding:10px 20px;



text-align: center;
}

.navbar{
  padding: 10px;
}
nav{
  background-color:rgba(30, 132, 112, 0.5);

}

.container{
  padding-top: 15px;
}